:root {
  --main-color: #4973ff;
}

body {
  background: var(--main-color);
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  overflow: scroll;
}

.nav {
  justify-content: center;
  padding: 1.2em 0px 15px 0px;
  color: #fff;
  align-items: center;

}

.nav h1 {
  font-size: calc(1.2rem + 1.5vw);
}

.nav h1 {
  margin: 0px;
  text-align: center;
}

.burger {
  width: 2rem;
  margin: 0px 10px;
  cursor: pointer;
  transition: 0.3s
}

.burger div {
  height: 4px;
  background-color: #a4a4a4;
  border-radius: 2px;
  margin: 4px 0px;
  transition: 0.3s;
}

.burger_navigation {
  position: fixed;
  top: 0;
  right: -350px;
  background-color: rgba(0, 0, 0, 0.9);
  width: 15rem;
  height: 100%;
  transition: all ease-in 0.3s;
  box-shadow: 0 0 20px var(--main-color);
  border-radius: 2px;
}

.burger_navigation ul {
  margin: 20px 10px;
}

.burger_navigation li {
  color: #ffffff;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
}

#check {
  cursor: pointer;
}

.burger_navigation a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}

.burger_navigation a:hover {
  color: var(--main-color);
}

.burger_navigation_open {
  right: 0px;
}

.burger_open {
  transition: all ease-in 0.3s;
}

.burger_open :nth-child(1) {
  transform: rotate(45deg) translate(10px, 5px);
}

.burger_open :nth-child(3) {
  transform: rotate(-45deg) translate(6px, -1px);
}

.burger_open :nth-child(2) {
  opacity: 0;
}

#colorPicker {
  border-radius: 25%;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.tab {
  font-size: 25px;
  max-width: 100%;
  height: 45rem;
  padding: 3px;
  overflow-y: scroll;
}


.tab::-webkit-scrollbar {
  display: none;
}

caption {
  color: #fff;
}


.table {
  caption-side: top;
  max-width: 70%;
  font-size: 15px;
  --bs-table-bg: none;
  --bs-table-color: #fff;
  margin: 0 auto 10px auto;
}



.tablePadding10 {
  padding-bottom: 10px;
  box-shadow: 0 2px 8px rgba(192, 192, 192, 0.4);
  border-radius: 10px;
}

th, td {
  padding: 25px;
  border-style: none;
}


.PG_nav {
  display: flex;
  justify-content: center;
}

.PG_nav button {
  font-size: 15px;
  color: #000;
  margin: 5px;
  border-radius: 15px;
  width: 20%;
  text-align: center;
  background-color: #a4a4a4;
  border: 2px solid #fff;
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  transition: all 0.6s ease;
}

button:hover {
  border-color: var(--main-color);
  background-color: #000;
  color: #fff;
  box-shadow: 0 0 10px var(--main-color);
}

.active {
  box-shadow: 0 0 10px var(--main-color);
}

ul {
  margin: 0px;
  padding: 0px;
}

.now {
  box-shadow: 0 0 10px var(--main-color);
  border-radius: 10px;
}



@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

section .wave {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--main-color);
  /* box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5); */
  transition: 0.5s;
}

section .wave span {
  /* content: "";
  position: absolute;
  width: 325vh;
  height: 325vh;
  top: -200px;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
  will-change: transform; */
  content: "";
  position: absolute;
  width: 150vw;
  /* уменьшено */
  height: 150vw;
  top: -100px;
  /* уменьшено */
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
  will-change: transform;
  border-radius: 45%;
  animation: animate 5s linear infinite;
}


.content {
  z-index: 1;
  font-size: 4em;
  letter-spacing: 2px;
  color: #fff;
  width: 100%;
}

section .wave span:nth-child(1) {
  border-radius: 45%;
  background: rgba(20, 20, 20, 1);
  animation: animate 5s linear infinite;
}

section .wave span:nth-child(2) {
  /* border-radius: 40%;
  background: rgba(20, 20, 20, 0.5);
  animation: animate 10s linear infinite; */
  border-radius: 40%;
  background: rgba(20, 20, 20, 0.5);
  animation: animate 10s linear infinite;
}

section .wave span:nth-child(3) {
  /* border-radius: 42.5%;
  background: rgba(20, 20, 20, 0.5);
  animation: animate 15s linear infinite; */
  border-radius: 42.5%;
  background: rgba(20, 20, 20, 0.5);
  animation: animate 15s linear infinite;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

body.transition-out .content {
  opacity: 0;
  transition: opacity 0.3s ease;
}

body.transition-out .wave {
  box-shadow: none;
}

body.transition-out .wave span {
  animation: waveExpand 0.7s ease forwards;
}

body:not(.loaded) .wave {
  top: -150vh;
}

.content {
  opacity: 0;
}

.loadedCon {
  opacity: 1;
  transition: all 2s ease;
}

body.loaded .wave {
  top: 0;
  transition: top 1s ease;
}

/* @keyframes waveExpand {
  0% {
    transform: translate(-50%, -75%) scale(1) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) scale(0) rotate(360deg);
  }
} */

@keyframes waveExpand {
  0% {
    transform: translate(-50%, -75%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -75%) scale(0.8);
    opacity: 0;
  }
}

@media (max-height: 600px) {
  .table {
    max-width: none;
  }

  .table>:not(caption)>*>* {
    padding: 4px;
  }

  caption {
    padding: 2px 0px;
  }

  .nav {
    padding: 20px;
  }
}

/* @media (max-width: 990px) {
  section .wave span {
    top: -75px;
  }
} */

@media (max-width: 600px) {
  section .wave span {
    width: 500vw;
    height: 500vw;
    top: 0  px;
  }
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: none;
  }
}

@media (max-width: 600px) {
  .tab {
    height: 400px;
  }

  .burger {
    position: absolute;
    top: 10px;
    left: 0px;
  }
}

@media (max-height: 400px) {
  .tab {
    height: 250px;
  }

}
