:root {
  --main-color: #4973ff;
}

body {
  background: var(--main-color);
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.nav ul {
  width: auto;
}

ul {
  margin: 0;
  padding: 0;
  width: 40%;
}

.nav {
  display: flex;
  justify-content: center;
  padding: 1.25em 0px 0px 0px;
  color: #fff;
  align-items: center;
}

h1 {
  margin-bottom: 0px;
}

.nav h1 {
  overflow-wrap: anywhere;
  font-size: calc(1.1rem + 1.5vw);
  text-align: center;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#arrowToMain {
  color: #a4a4a4;
  display: flex;
}

svg {
  height: 25px;
  width: 25px;
}

.btns a {
  display: block;
}

.btns li {
  margin: 0px 0px 10px 0px;
}

.btn {
  border-radius: 15px;
  width: 100%;
  text-align: center;
  background-color: #a4a4a4;
  border: 2px solid #fff;
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  transition: all 0.6s ease;
}



.btn:hover {
  border-color: var(--main-color);
  background-color: #000;
  color: #fff;
  box-shadow: 0 0 10px var(--main-color);
}

#colorPicker {
  margin-left: 10px;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

#check {
  cursor: pointer;
}

.colorPick {
  display: flex;
  justify-content: center;
  align-items: center
}


@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

section .wave {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--main-color);
  /* box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5); */
  transition: 0.5s;
}

section .wave span {
  /* content: "";
  position: absolute;
  width: 325vh;
  height: 325vh;
  top: -200px;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
  will-change: transform; */
  content: "";
  position: absolute;
  width: 150vw;
  /* уменьшено */
  height: 150vw;
  top: -100px;
  /* уменьшено */
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
  will-change: transform;
  border-radius: 45%;
  animation: animate 5s linear infinite;
}

.content {
  z-index: 1;
  font-size: 4em;
  letter-spacing: 2px;
  color: #fff;
  width: 100%;
}

section .wave span:nth-child(1) {
  border-radius: 45%;
  background: rgba(20, 20, 20, 1);
  animation: animate 5s linear infinite;
}

section .wave span:nth-child(2) {
  /* border-radius: 40%;
  background: rgba(20, 20, 20, 0.5);
  animation: animate 10s linear infinite; */
  border-radius: 40%;
  background: rgba(20, 20, 20, 0.5);
  animation: animate 10s linear infinite;
}

section .wave span:nth-child(3) {
  /* border-radius: 42.5%;
  background: rgba(20, 20, 20, 0.5);
  animation: animate 15s linear infinite; */
  border-radius: 42.5%;
  background: rgba(20, 20, 20, 0.5);
  animation: animate 15s linear infinite;
}

/* @keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
} */

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

body.transition-out .content {
  opacity: 0;
  transition: opacity 0.3s ease;
}

body.transition-out .wave {
  box-shadow: none;
}

body.transition-out .wave span {
  animation: waveOut 0.7s ease forwards;
}

body:not(.loaded) .wave {
  top: -150vh;
}

.content {
  opacity: 0;
}

.loadedCon {
  opacity: 1;
  transition: all 2s ease;
}

body.loaded .wave {
  top: 0;
  transition: top 1s ease;
}

/* @keyframes waveOut {
  0% {
    transform: translate(-50%, -75%) scale(1) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) scale(0) rotate(360deg);
  }
} */

@keyframes waveOut {
  0% {
    transform: translate(-50%, -75%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -75%) scale(0.8);
    opacity: 0;
  }
}

@media (max-height: 600px) {
  .table {
    max-width: none;
  }

  .table>:not(caption)>*>* {
    padding: 4px;
  }

  caption {
    padding: 2px 0px;
  }

  .nav {
    padding: 10px;

  }
}

/* @media (max-width: 990px) {
  section .wave span {
    top: -75px;
  }
} */

@media (max-width: 600px) {
  section .wave span {
    width: 500vw;
    height: 500vw;
    top: 165px;
  }
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: none;
  }
}

@media (max-width: 700px) {
  .btns ul {
    width: 100%;
  }
}

@media (max-width: 500px) {
  body.loaded .wave {
    top: -160px;
  }
}